<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Recall Search</title>
</head>
<body style="text-align: center;">
    <h1>Food Recall Search</h1>
    <hr>

    <br><br>
    <form action="/search" method="post">
        <label for="input">Search Food Item:</label>
        <input type="text" id="input" name="input" required>
        <input type="submit" value="Search">
    </form>
    <br><br>
    <hr>
</body>
</html>